body {

    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}


/* Buttons */

.btn {
    /* test */
    border-radius: 6px;
    border: 1px solid white;
    color: white;
    padding: .5rem;
}

/* Footer */


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}